@import "reusable";

:host {
	@extend %icons-family;

	.animated-icon {
		position: relative;
		mat-icon {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			// transition: transform 800ms;
			&.animate {
				// transform: rotate(360deg);
			}
		}
	}
}
