//SASS File
@import "reusable";

:host {
  margin: 5px;
  display: block;
}

.common-view {
  mat-icon {
    @extend %custom-mat-icon;
    color: $secondary-three;
  }
  .view-txt {
    word-break:break-all;
    line-height: 1;
  }
  app-chips {
    margin-top: 3px;
  }

  label {
    @extend %sub-caption-2;
  }

  p {
    @extend %caption;
  }

  .thumbnail {
    @include aspectRatio(16, 9);
    margin:5px 4px 4px 0px;
  }
}
